.movie-title {
  margin-bottom: 10px;
}

.movie-details {
  margin-bottom: 10px;
}

.like-link,
.hate-link,
.opinion-link,
.user-name,
.sort-bt {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  margin-right: 5px;
}

.like-link:hover,
.hate-link:hover {
  color: darkblue;
  text-decoration: none;
}